header {
  font-size: 60px;
  text-align: center;
}
nav {
  width: auto;
  height: 30px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  margin-left: 20px;
  padding: 0 0 0 0;
  border: 0;
  display: inline-block;
}
footer {
  background-color: skyblue;
  width: 99%;
  min-height: 50px;
  text-align: center;
  margin: 10px auto;
  line-height: 50px;
}
.main {
  width: 99%;
  height: 720px;
  margin: 10px auto;
  display: flex;
}
.main .left {
  background-color: gray;
  flex: 1;
  width: 30%;
  box-sizing: border-box;
}
.main .center {
  background-color: blue;
  width: 30%;
  flex: 1;
  margin: 0px 1.5%;
  box-sizing: border-box;
}
.main .right {
  background-color: pink;
  width: 30%;
  flex: 1;
  box-sizing: border-box;
}
